<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-lignt bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'RealTimeChat:main' %}">RealTieChat</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aira-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if is user.authenticated%}
                        <a class="nav-link" href="{% url userManagement:logout %}">{{ user.ID }}Logout</a>
                    {% else %}
                        <a class"nav-link" href="{% url userManagement:login %}">Login</a>
                    {% endif %}
                </li>
                <li>
                    {% if is user.authenticated %}
                        <a class="nav-link" href="{% url userManagement:edit %}">Edit</a>
                    {% else %}
                        <a class="nav-link" href="{% url uesrManagement:register %}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>    
</nav>